// Place all the styles related to the CalcRuns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calc_runs table {
  width: 100%;
  margin-top: 5px;
  .calc {
    width: 15%;
  }
  .calc_run {
    text-align: center;
  }
  .date {
    font-weight: bold;
    white-space: nowrap;
    padding-right: 25px;
  }
  .index {
    width: 25%;
    padding-left: 10px;
    .filter {
      text-align: center;
    }
  }
  td {
    vertical-align: text-top;
  }
  .course_details{
    th {
      background-color: #A6BA65;
    }
    .rank {
      width: 9%;
      text-align: center;
    }
    .runner {
      width: 29%;
    }
    .gender {
      width: 3%;
      text-align: center;
    }
    .score {
      width: 9%;
      text-align: center;
    }
    .races {
      width: 9%;
      text-align: center;
    }

  }
}
.calc_run_left_header {
  text-align: left;
  padding-left: 10px
}
.calc_run_right_header {
  text-align: right;
  padding-right: 10px
}
#show_all {
  th {
    background-color: #A6BA65;
  }

  .center {
    text-align: center;
  }

  .all_index {
    width: 30%;
    padding-right: 50px;
    padding-left: 10px;
    th {
      background-color: #A6BA65;
    }
  
    .center {
      text-align: center;
    }
  }
  .all_details {
    padding-right: 20px;
  }
}
