// Place all the styles related to the CalcRuns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calc_runs table {
  width: 100%;
  margin-top: 5px;
  .calc {
    width: 15%;
  }
  .news {
    width: 85%;
  }
  .calc_run {
    text-align: center;
  }
  .date {
    font-weight: bold;
    white-space: nowrap;
    padding-right: 25px;
  }
  td {
    vertical-align: text-top;
  }
  
}