body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.app_header {
  width: 100%;
  background-color: black;
  border-collapse: collapse;
  order-spacing: 0;
}